.header {
    background-color: darkslateblue;
}

.header h2 {
    color: white;
    padding-top: 100px;
}

.menuBar {
    display: flex;
}

.menuBar li {
    margin-left: 80px;
    cursor: pointer;
    font-size: 18px;
}

.menuBar li:hover {
    color: darkslateblue;
}